<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fisher.practice02.ssm.mapper.SoldierMapper">

    <select id="selectAll" resultType="com.fisher.practice02.ssm.entry.Soldier">
        SELECT soldier_id,soldier_name,soldier_weapon FROM t_soldier
    </select>
    
    <select id="selectSoldierById" resultType="com.fisher.practice02.ssm.entry.Soldier">
        SELECT soldier_id,soldier_name,soldier_weapon from t_soldier where soldier_id = #{soldierId}
    </select>
    
    <select id="getLastInsertedId" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID();
    </select>

    <insert id="insertOneSoldier" useGeneratedKeys="true" keyProperty="soldierId">
        insert into t_soldier(soldier_name, soldier_weapon) values (#{soldierName}, #{soldierWeapon});
    </insert>

    <update id="updateOneSoldier">
        update t_soldier set soldier_name = #{soldierName} ,soldier_weapon = #{soldierWeapon} where soldier_id = #{soldierId};
    </update>

    <delete id="deleteOneSoldier">
        delete from t_soldier where soldier_id = #{soldierId};
    </delete>

</mapper>