<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>edit-soldier</title>
</head>
<body>
	<form th:action="@{/edit/soldier/info}" method="post">
		<input type="hidden" name="soldierID" th:value="${soldierId}">
		soldierId:<input type="text" name="soldierId" th:text="${soldierId}" disabled>
		soldierName:<input type="text" name="soldierName"><br>
		soldierWeapon:<input type="text" name="soldierWeapon"><br>
		<input type="submit" value="修改">
	</form>
</body>
</html>